<p class="text-success"><%= notice %></p>

<div>
    <%= link_to edit_group_path(@group) do %>
        <%= render @group %>
    <% end %>
</div>

<div>
  <%= button_to "Remove Category", @group, method: :delete %>
</div>


<div>
  <h1>Transactions<h1>

  <%= link_to "New Entity", new_group_entity_path(@group), class: "category_button"%>
</div>